body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside {
    width: 180px;
    font-size: small;
    text-align: center;
    padding-left: 10px;
    position: absolute;
    right: 0px;
}

.flex-grid {
    display: flex;
}

.column {
    padding: 15px;
    padding-top: 5px;
    flex: 1;
}

.content {
    position: relative;
    margin: auto;
}

.data-graph {
    position: relative;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    padding: 0 5px;
    width: 32px;
}

.y-axis-slider {
    height: 64%;
    margin-top: 45px;
    position: absolute;
    right: 0;
}

.x-axis {
    margin-left: 5px;
}

.y-axis {
    text-anchor: end;
    text-align: left;
}